 '.source.lua':
   'script_title':
     'prefix': 'script_title'
     'body': '--[[\n--=====================================================================================================--\n
     Script Name: Document_Name, for SAPP (PC & CE)\n
     Copyright (c) 2016-2018, Jericho Crosby <jericho.crosby227@gmail.com>\n
     * Notice: You can use this document subject to the following conditions:\n
     https://github.com/Chalwk77/Halo-Scripts-Phasor-V2-/blob/master/LICENSE\n
     * Written by Jericho Crosby (Chalwk)\n
     --=====================================================================================================--\n]]--\n\napi_version = "1.12.0.0"\n\nfunction OnScriptLoad()\n\tregister_callback(cb["EVENT_NAME"], "function_name")\nend\n\nfunction OnScriptUnload()\n\nend\n\n'

   'api_version':
     'prefix': 'api_version'
     'body': 'api_version = "1.12.0.0"'
     'description': 'This is the Lua API version being used on the server'

   'OnScriptLoad':
     'prefix': 'OnScriptLoad'
     'body': 'OnScriptLoad()\n\tregister_callback(cb["EVENT_NAME"], "function_name")\nend'
     'description': "description_here"

   'OnEcho':
     'prefix': 'OnEcho'
     'body': 'OnEcho()\n\nend'
     'description': "description_here"

   'OnSnap':
     'prefix': 'OnSnap'
     'body': 'OnSnap(PlayerIndex, SnapScore)\n\nend'
     'description': "description_here"

   'OnCamp':
     'prefix': 'OnCamp'
     'body': 'OnCamp(PlayerIndex, CampKills)\n\nend'
     'description': "description_here"

   'OnWarp':
     'prefix': 'OnWarp'
     'body': 'OnWarp(PlayerIndex)\n\nend'
     'description': 'This function is called when a player has warped more times than specified by the antiwarp command, if it’s enabled.'

   'OnLogin':
     'prefix': 'OnLogin'
     'body': 'OnLogin(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnScore':
     'prefix': 'OnScore'
     'body': 'OnScore(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnTick':
     'prefix': 'OnTick'
     'body': 'OnTick()\n\nend'
     'description': "This function is called every game tick (1/30 second) - 33.3333333 ms\n\nSimilar to Phasor's OnClientUpdate() function."

   'OnBetray':
     'prefix': 'OnBetray'
     'body': 'OnBetray(PlayerIndex, VictimIndex)\n\nend'
     'description': "description_here"

   'OnSuicide':
     'prefix': 'OnSuicide'
     'body': 'OnSuicide(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnGameEnd':
     'prefix': 'OnGameEnd'
     'body': 'OnGameEnd()\n\nend'
     'description': "description_here"

   'OnNewGame':
     'prefix': 'OnNewGame'
     'body': 'OnNewGame()\n\nend'
     'description': "description_here"

   'OnMapReset':
     'prefix': 'OnMapReset'
     'body': 'OnMapReset()\n\nend'
     'description': "description_here"

   'OnAreaExit':
     'prefix': 'OnAreaExit'
     'body': 'OnAreaExit(PlayerIndex, AreaName)\n\nend'
     'description': "description_here"

   'OnAreaEnter':
     'prefix': 'OnAreaEnter'
     'body': 'OnAreaEnter(PlayerIndex, AreaName)\n\nend'

   'OnTeamSwitch':
     'prefix': 'OnTeamSwitch'
     'body': 'OnTeamSwitch(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnPlayerJoin':
     'prefix': 'OnPlayerJoin'
     'body': 'OnPlayerJoin(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnPlayerChat':
     'prefix': 'OnPlayerChat'
     'body': 'OnPlayerChat(PlayerIndex, Message, Type)\n\nend'
     'description': 'This function is called when a player has sent a message.\n\nReturning false will block the message'

   'OnWeaponDrop':
     'prefix': 'OnWeaponDrop'
     'body': 'OnWeaponDrop(PlayerIndex, Slot)\n\nend'
     'description': 'This function is called when a player has dropped a weapon'

   'OnPlayerKill':
     'prefix': 'OnPlayerKill'
     'body': 'OnPlayerKill(PlayerIndex, VictimIndex)\n\nend'
     'description': "description_here"

   'OnCheckAlive':
     'prefix': 'OnCheckAlive'
     'body': 'OnCheckAlive(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnPlayerDeath':
     'prefix': 'OnPlayerDeath'
     'body': 'OnPlayerDeath(PlayerIndex, KillerIndex)\n\nend'
     'description': "description_here"

   'OnPlayerSpawn':
     'prefix': 'OnPlayerSpawn'
     'body': 'OnPlayerSpawn(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnPlayerLeave':
     'prefix': 'OnPlayerLeave'
     'body': 'OnPlayerLeave(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnObjectSpawn':
     'prefix': 'OnObjectSpawn'
     'body': 'OnObjectSpawn(PlayerIndex, MapID, ParentID, ObjectID)\n\nend'
     'description': "description_here"

   'OnVehicleExit':
     'prefix': 'OnVehicleExit'
     'body': 'OnVehicleExit(PlayerIndex)\n\nend'
     'description': "description_here"

   'OnWeaponPickup':
     'prefix': 'OnWeaponPickup'
     'body': 'OnWeaponPickup(PlayerIndex, WeaponIndex, Type)\n\nend'
     'description': 'This function is called when a player has picked up a weapon/grenade'

   'OnVehicleEntry':
     'prefix': 'OnVehicleEntry'
     'body': 'OnVehicleEntry(PlayerIndex, Seat)\n\nend'
     'description': 'This function is called when a player has entered a vehicle'

   'OnServerCommand':
     'prefix': 'OnServerCommand'
     'body': 'OnServerCommand(PlayerIndex, Command, Environment)\n\nend'
     'description': '
      This event is called when a player attempts to use a command (valid
      or not) through rcon or messages or when the console has issued a
      command (remotely or not). Returning false will block the command.\n\n\n
      Note that some Player Commands cannot be blocked.\n\n
      Possible values for Environment:\n
      0 = sent through the console (RconPassword is nil)\n\n
      1 = sent through rcon\n
      2 = sent through chat (RconPassword is nil)\n
      Takes: number PlayerIndex, string Command, number Environment,\n
      string RconPassword\n
      Returns: optional boolean Allow\n
     '

   'OnPlayerPrejoin':
     'prefix': 'OnPlayerPrejoin'
     'body': 'OnPlayerPrejoin(PlayerIndex)\n\nend'
     'description': 'This function is called when a player is attempting to join the server but the connection has not been completely established yet.'

   'OnPlayerPrespawn':
     'prefix': 'OnPlayerPrespawn'
     'body': 'OnPlayerPrespawn(PlayerIndex)\n\nend'
     'description': 'This function is called when a player is spawning (but not alive yet)'

   'OnDamageApplication':
     'prefix': 'OnDamageApplication'
     'body': 'OnDamageApplication(PlayerIndex, CauserIndex, MetaID, Damage, HitString, Backtap)\n\nend'
     'description': "description_here"
