 '.source.lua':
   'script_title':
     'prefix': 'script_title'
     'body': '--[[\n--=====================================================================================================--\n
     Script Name: Document_Name, for SAPP (PC & CE)\n
     Copyright (c) 2016-2018, Jericho Crosby <jericho.crosby227@gmail.com>\n
     * Notice: You can use this document subject to the following conditions:\n
     https://github.com/Chalwk77/Halo-Scripts-Phasor-V2-/blob/master/LICENSE\n
     * Written by Jericho Crosby (Chalwk)\n
     --=====================================================================================================--\n]]--\n\napi_version = "1.12.0.0"\n\nfunction OnScriptLoad()\n\tregister_callback(cb["EVENT_NAME"], "function_name")\nend\n\nfunction OnScriptUnload()\n\nend\n\n'

   'api_version':
     'prefix': 'api_version'
     'body': 'api_version = "1.12.0.0"'
     'description': 'This is the Lua API version being used on the server'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">* Required to load script</span>'

   'OnScriptLoad':
     'prefix': 'OnScriptLoad'
     'body': 'OnScriptLoad()\n\tregister_callback(cb["EVENT_NAME"], "function_name")\nend'
     'description': "Initialization code goes here"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">* Requires callback</span>'

   'OnEcho':
     'prefix': 'OnEcho'
     'body': 'OnEcho()\n\nend'
     'description': "This function is called when true is passed to the Echo argument of either the execute_command() or the execute_command_sequence() functions"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">none</span>'

   'OnSnap':
     'prefix': 'OnSnap'
     'body': 'OnSnap(PlayerIndex, SnapScore)\n\nend'
     'description': "This function is called when a player has snapped while aimbot banning has been enabled"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, SnapScore</span>'

   'OnCamp':
     'prefix': 'OnCamp'
     'body': 'OnCamp(PlayerIndex, CampKills)\n\nend'
     'description': "This function is called when a camping player kills another player while the anticamp command is enabled"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, CampKills</span>'

   'OnWarp':
     'prefix': 'OnWarp'
     'body': 'OnWarp(PlayerIndex)\n\nend'
     'description': 'This function is called when a player has warped more times than specified by the antiwarp command'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnLogin':
     'prefix': 'OnLogin'
     'body': 'OnLogin(PlayerIndex)\n\nend'
     'description': "This function is called when an admin logs in using their username and password"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnScore':
     'prefix': 'OnScore'
     'body': 'OnScore(PlayerIndex)\n\nend'
     'description': "This function is called when a player has scored a point"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnTick':
     'prefix': 'OnTick'
     'body': 'OnTick()\n\nend'
     'description': "This function is called every game tick (1/30 second) - 33.3333333 ms\n\nSimilar to Phasor's OnClientUpdate() function"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">none</span>'

   'OnBetray':
     'prefix': 'OnBetray'
     'body': 'OnBetray(PlayerIndex, VictimIndex)\n\nend'
     'description': "This function is called when a player kills a team mate"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, VictimIndex</span>'

   'OnSuicide':
     'prefix': 'OnSuicide'
     'body': 'OnSuicide(PlayerIndex)\n\nend'
     'description': "This function is called when a player has committed suicide"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnGameEnd':
     'prefix': 'OnGameEnd'
     'body': 'OnGameEnd()\n\nend'
     'description': "This function is called when a new game has ended"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">none</span>'

   'OnNewGame':
     'prefix': 'OnNewGame'
     'body': 'OnNewGame()\n\nend'
     'description': "This function is called when a new game has started"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">none</span>'

   'OnMapReset':
     'prefix': 'OnMapReset'
     'body': 'OnMapReset()\n\nend'
     'description': "This function is called when 'sv_map_reset' has been executed"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">none</span>'

   'OnAreaExit':
     'prefix': 'OnAreaExit'
     'body': 'OnAreaExit(PlayerIndex, AreaName)\n\nend'
     'description': "This function is called when a player has exited a custom area"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, AreaName</span>'

   'OnAreaEnter':
     'prefix': 'OnAreaEnter'
     'body': 'OnAreaEnter(PlayerIndex, AreaName)\n\nend'
     'description': "This function is called when a player has entered a custom area"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, AreaName</span>'

   'OnTeamSwitch':
     'prefix': 'OnTeamSwitch'
     'body': 'OnTeamSwitch(PlayerIndex)\n\nend'
     'description': "This function is called when a player has changed teams"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnPlayerJoin':
     'prefix': 'OnPlayerJoin'
     'body': 'OnPlayerJoin(PlayerIndex)\n\nend'
     'description': "This function is called when a player has finished joining the server"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnPlayerChat':
     'prefix': 'OnPlayerChat'
     'body': 'OnPlayerChat(PlayerIndex, Message, Type)\n\nend'
     'description': 'This function is called when a player has sent a message'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, Message, Type</span>'

   'OnWeaponDrop':
     'prefix': 'OnWeaponDrop'
     'body': 'OnWeaponDrop(PlayerIndex, Slot)\n\nend'
     'description': 'This function is called when a player has dropped a weapon'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, Slot</span>'

   'OnPlayerKill':
     'prefix': 'OnPlayerKill'
     'body': 'OnPlayerKill(PlayerIndex, VictimIndex)\n\nend'
     'description': "This function is called when a player kills another player"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, VictimIndex</span>'

   'OnCheckAlive':
     'prefix': 'OnCheckAlive'
     'body': 'OnCheckAlive(PlayerIndex)\n\nend'
     'description': "Returns true if the player is alive"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnPlayerDeath':
     'prefix': 'OnPlayerDeath'
     'body': 'OnPlayerDeath(PlayerIndex, KillerIndex)\n\nend'
     'description': "This function is called any time a death occurs"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, KillerIndex</span>'

   'OnPlayerSpawn':
     'prefix': 'OnPlayerSpawn'
     'body': 'OnPlayerSpawn(PlayerIndex)\n\nend'
     'description': "This function is called when a player has finished spawning"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnPlayerLeave':
     'prefix': 'OnPlayerLeave'
     'body': 'OnPlayerLeave(PlayerIndex)\n\nend'
     'description': "This function is called when a player has disconnected from the server"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnObjectSpawn':
     'prefix': 'OnObjectSpawn'
     'body': 'OnObjectSpawn(PlayerIndex, MapID, ParentID, ObjectID)\n\nend'
     'description': "This function is called when the server is attempting to spawn an object"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, MapID, ParentID, ObjectID</span>'

   'OnVehicleExit':
     'prefix': 'OnVehicleExit'
     'body': 'OnVehicleExit(PlayerIndex)\n\nend'
     'description': "This function is called when a player has exited a vehicle (called immediately after pressing action key and before exit animation has ended)"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnWeaponPickup':
     'prefix': 'OnWeaponPickup'
     'body': 'OnWeaponPickup(PlayerIndex, WeaponIndex, Type)\n\nend'
     'description': 'This function is called when a player has picked up a weapon or grenade'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, WeaponIndex, Type</span>'

   'OnVehicleEntry':
     'prefix': 'OnVehicleEntry'
     'body': 'OnVehicleEntry(PlayerIndex, Seat)\n\nend'
     'description': 'This function is called when a player has entered a vehicle'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, Seat</span>'

   'OnServerCommand':
     'prefix': 'OnServerCommand'
     'body': 'OnServerCommand(PlayerIndex, Command, Environment)\n\nend'
     'description': 'This function is called when a player attempts to use a command'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, Command, Environment</span>'


   'OnPlayerPrejoin':
     'prefix': 'OnPlayerPrejoin'
     'body': 'OnPlayerPrejoin(PlayerIndex)\n\nend'
     'description': 'This function is called when a player is attempting to join the server but the connection has not been completely established yet'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnPlayerPrespawn':
     'prefix': 'OnPlayerPrespawn'
     'body': 'OnPlayerPrespawn(PlayerIndex)\n\nend'
     'description': 'This function is called when a player is spawning (but not alive yet)'
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex</span>'

   'OnDamageApplication':
     'prefix': 'OnDamageApplication'
     'body': 'OnDamageApplication(PlayerIndex, CauserIndex, MetaID, Damage, HitString, Backtap)\n\nend'
     'description': "This function is called when damage is applied to a player"
     'rightLabelHTML': '<span style="color:red">Parameters: </span><span style="color:green">PlayerIndex, CauserIndex, MetaID, Damage, HitString, Backtap</span>'
