name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Thanks for submitting a ticket. I will respond within 2 business days of submission. Stay tuned.'
        pr-message: 'Thanks for submitting a PR. I do my best to review PRs within 2 business days of submission. Stay tuned.'
